.btn {
    background-color: #f1f1f1 !important;
    border: none !important;
    color: #000;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:focus-visible{
    background-color: #f1f1f1;
    box-shadow: none;
    color: #D87D4A;
    border: none;
    outline: transparent;
}

.quantityBox {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 120px;
}