.ReactModal__Overlay.ReactModal__Overlay--after-open {
    background-color: rgba(0, 0, 0, 0.75) !important;

    @media only screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
    }
}
#cartModal {
    width: 377px;
    left: unset !important;
    right: 0px !important;
    top: 0em !important;
    position: fixed;
    background-color: #f1f1f1;
    height: 100%;

    .modal-dialog {
        height: 100%;
        .modal-content {
            height: 100%;
            background-color: #f1f1f1;

            .modal-header {
                background-color: $white;
                padding: 1em;
            }
            .modal-body {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                .top {
                    display: flex;
                    justify-content: space-between;
                    background-color: $white;
                }
                .products {
                    ul {
                        padding: 0;

                        li {
                            list-style: none;
                            display: flex;
                            justify-content: space-between;

                            .left {
                                display: flex;
                                gap: 16px;
                                .productNamePrice {
                                    display: flex;
                                    flex-direction: column;

                                    .name {
                                        font-weight: 700;
                                        font-size: 15px;
                                        line-height: 25px;
                                    }

                                    .price {
                                        font-weight: 700;
                                        font-size: 14px;
                                        line-height: 25px;
                                        opacity: .5;
                                    }
                                }
                            }
                            .right {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                button {
                                    background: #f1f1f1;
                                    color: $black;
                                    border: none;

                                    &:focus {
                                        box-shadow: none;
                                        transform: scale(1.0005);
                                    }
                                }

                                .count {
                                    min-width: 1em;
                                    display: flex;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                }
                .emptyCart {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1em;

                    p {
                        text-transform: uppercase;
                        color: $black;
                        font-weight: 700;
                    }
                }
            }

            .modal-footer {
                .total {
                    display: flex;
                    justify-content: space-between;
                    background-color: $white;
                    padding: 1em;
                    width: 100%;

                    p {
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 25px;
                        text-transform: uppercase;
                        opacity: .5;
                    }
                }
                .btn {
                    min-width: 98%;
                    margin: 0 auto;
                    min-height: 60px;
                }
            }
        }
    }

    @media only screen and (max-width: 767px) {
     position: unset !important;
    }
}