.product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;

    .imageContainer {
        background-color: $darkGrey;
        min-width: 540px;
        min-height: 560px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        max-width: 445px;

        .btn-group {
            gap: 16px;
        }
    }

    @media only screen and (max-width: 1025px) {

        max-width: 691px;
        margin: 0 auto;
        
        .textContainer {
            align-items: flex-start;
            text-align: center;
            gap: 24px;

            p {
                max-width: 327px;
                text-align: left;
            }
        }

        .imageContainer {
            width: 281px;
            min-width: 0;
            min-height: 480px;
        }
    }

    @media only screen and (max-width: 767px) {
        flex-direction: column;
        gap: 32px;

        .imageContainer {
            min-width: 0;
        }
    }
}