.gallery {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    gap: 30px;

    .left-side {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .top,
        .bottom {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            min-width: 445px;
            min-height: 280px;
            border-radius: 8px;
        }
    }

    .right-side {
        min-width: 635px;
        min-width: 592px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 8px;
    }
}