.audioGear {
    display: flex;
    justify-content: space-between;
    gap: 125px;
    max-width: 1110px;
    min-height: 588px;
    margin: 0 auto 96px;

    .textContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 445px;

        h2 {
            .orange {
                color: $orange;
            }
        }
    }

    .image {
        background-image: url('../../../public/assets/shared/desktop/image-best-gear.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 540px;
    }

    @media only screen and (max-width: 1025px) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 63px;

        .image {
            min-height: 300px;
            min-width: 690px;
            background-image: url('../../../public/assets/shared/tablet/image-best-gear.jpg');
        }

        .textContainer {
            max-width: 573px;
        }
    }

    @media only screen and (max-width: 767px) {
        gap: 40px;
        .image {
            background-image: url('../../../public/assets/shared/mobile/image-best-gear.jpg');
            min-width: 327px;
        }

        .textContainer {
            max-width: 327px;

            h2 {
                text-align: center;
                font-size: 28px;
                line-height: 38px;
                letter-spacing: 1px;
            }
        }
    }
}