.audioGear {
    display: flex;
    justify-content: space-between;
    gap: 125px;
    max-width: 1110px;
    min-height: 588px;

    .textContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 445px;
        h2 {
            .orange {
                color: $orange;
            }
        }
    }

    .image {
        background-image: url('../../../public/assets/shared/desktop/image-best-gear.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 540px;
    }
}